

@media all and (max-width: 430px)
{

	html body
	{
		width: auto;
	}

	.nav4 
	{
		position: absolute;
		top: 23px;
		left: 230px;
	}

	nav ul
	{
		display: flex;
		flex-direction: row;
	}

	#accommodation, #firstMarseilleAccommodation, #secondMarseilleAccommodation 
	{
		display: flex;
		flex-direction: column;
	}

	#filters
	{
		flex-wrap: wrap;

	}

	#accommodation
	{
		flex-direction: column-reverse;
		align-items: center;
	}

	#secondSection
	{
		background-color: white;
		margin: auto;
	}
	
	#thirdSection
	{
		margin-right: 30px;
	}

	#fourthSection
	{
		flex-direction: column;
		display: flex;
		align-items: center;
	}

	figure img
	{
		width: 300px;
	}

	.largePicture
	{
		height: 120px;
	}

	figure
	{
		display: block;
		margin: auto;
		margin-top: 20px;
	}

	html body 
	{
		margin-left: 10px;
	}

	#activity
	{
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	footer
	{
		margin-top: 30px;
		display: flex;
		flex-direction: column;
	}


	

}


@media all and (max-width: 360px)
{
	header
	{
		margin: auto;
	}
}
