@font-face 
{
    font-family: 'Raleway';
    src: url('assets/font/Raleway/Raleway-VariableFont_wght.ttf');
}

html body
{
	font-family: 'Raleway', sans-serif;
}

/* ---------------------
			header	
-----------------------*/

header img
{
	width: 90px;
	height: 40px;
	top: 0px;
	left: 0px;
	position: relative;
	padding-top: 10px;
	padding-left: 20px;
}

nav ul
{
	display: flex;
	justify-content: space-evenly;
	list-style: none;
}

header .nav4 
{
	top: 0px;
	right: 0px;
	position: absolute;
	padding-top: 20px;
	padding-right: 20px;
}

a:-webkit-any-link
{
	text-decoration: none;
	color: black;
}

.nav2 a:hover, .nav3 a:hover
{
	color: #0065FC;
	border-top: solid #0065FC 2px;
} 

#searchBar i 
{
	border: solid #F2F2F2 3px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    padding: 7px 8px 8px 10px;
    position: absolute;
    left: 16px;
}

#search
{
	position: relative;
	left: 40px;
}

#button
{
	color: white;
	background-color: #0065FC;
	border-radius: 10px 40px 40px 10px;
	position: absolute;
    left: 190px;
}

#button, input
{
	padding-top: 8px;
	padding-bottom: 8px;
	border: solid #F2F2F2 3px;
}

#buttonMobile
{
	display: none;
}

/* ---------------------
	# firstSection
	-----------------------*/

#filters
{
	display: flex;
	flex-wrap: wrap;
}

#filters i
{
	background-color: #DEEBFF;
	border: solid #DEEBFF 12px;
	border-radius: 40px;
	color: #0065FC;
}

#filters p
{
	border: solid #F2F2F2;
    border-radius: 50px;
    transition: all 0.5s;
    margin-right: 50px;
}

#filters p:hover
{
	background-color: #DEEBFF;
}

/* ---------------------
		  main 
-----------------------*/

figure img
{
	height: 130px;
	width: 250px;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
}

figure
{
	border: solid white;
	border-radius: 20px;
    box-shadow: 0px 0px 10px grey;
    transition: all 0.5s;
}

figure:hover
{
	opacity: 0.5;
}

article a
{
	text-decoration: none;
	color: black;
}

#secondSection figcaption, #activity figcaption
{
	padding-left: 10px;
	padding-top: 10px;
}

#secondSection
{
	background-color:#f2f2f2;
	border-radius: 30px;
    margin: 5px 5px 5px 5px;

}

#accommodationTitle, #fourthSection h2
{
	display: none;
}

#accommodation
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

#accommodation i
{
	color: #0065fc;
}

#firstMarseilleAccommodation, #secondMarseilleAccommodation
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#fourthSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#thirdSection
{
	background-color:#f2f2f2;
	border-radius: 30px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 5px 5px 5px;
}

#chartLine 
{
	color: black!important;
	float: right;
}

#mostPopular figure img 
{
	border-radius: 20px 0px 0px 20px!important;
	width: 110px;
	height: 100px;
	float: left;
}


.largePicture
{
	height: 300px;
}

/* ---------------------
		footer
-----------------------*/

footer
{
	background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer section 
{
	margin-right: 15%;
}

footer ul 
{
	list-style: none;
}

footer li 
{
	margin-top: 10px;
}
