
@media all and (max-width: 1024px)
{


	#mostPopular
	{
		display: flex;
		flex-direction: row;
	}

	#mostPopular a 
	{
		width: 310px;
	}
	#accommodation
	{
		display: flex;
		flex-direction: column;
	}

	.nav4 
	{
		position: absolute;
		top: 23px;
		left: 230px;
	}

	nav ul
	{
		display: flex;
		flex-direction: row;
	}

	#filters
	{
		flex-wrap: wrap;

	}

	#secondSection
	{
		background-color: white;
		margin: auto;
	}
	
	#thirdSection
	{
		margin-right: 30px;
		display: flex;
		flex-direction: column;
	}

	#fourthSection 
	{
		display: block;
		margin: auto;
	}
	#fourthSection img
	{
		width: 900px;
	}


	figure img
	{
		width: 300px;
	}

	.largePicture
	{
		height: 120px;
	}

	figure
	{
		display: block;
		margin: auto;
		margin-top: 20px;
	}

	html body 
	{
		margin-left: 10px;
	}

	

	footer
	{
		margin-top: 30px;
		display: flex;
		flex-direction: row;
	}

}