@font-face 
{
    font-family: 'Raleway';
    src: url('font/Raleway/Raleway-VariableFont_wght.ttf');
}

html body
{
	font-family: 'Raleway', sans-serif;
	margin: auto;
}

/* ---------------------
			header	
-----------------------*/

header 
{
	position: relative;
	max-width: 1400px;
}

body a
{
    text-decoration: none;
    color: black;
}

#navCurrentDesktopColor
{
    color: #0065FC;
}

.desktop 
{
    display: block;
}

.mobile 
{
    display: none;
}

#logoDesktop 
{
    padding-top: 10px;
    padding-left: 20px;
}

#subscribeDesktop 
{
    margin-top: 28px;
    margin-right: 10px;
    position: absolute;
    right: 0;
    color: #0065FC;
    font-weight: bold;
}

#menuDesktop 
{
    position: absolute;
    top: 0;
    list-style-type: none;
    padding: 0;
    right:70px;
    margin-top: 28px;
}

.detailMenuDesktop 
{
    display: inline;
    text-align: center;
    margin-right: 40px;
}

#navCurrentDesktop 
{
    border-top: solid #0065FC 2px;
    padding-top: 26px;
}

.fa-map-marker-alt
{
	border: solid #F2F2F2 3px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    padding: 11px 8px 8px 10px;
    position: absolute;
    left: 5px;
}

#search
{
	position: relative;
	left: 40px;
}

#searchBar
{
	position: relative;
}

#button
{
	color: white;
	background-color: #0065FC;
	border-radius: 10px 40px 40px 10px;
	position: absolute;
    left: 190px;
}

#button, input
{
	padding-top: 10px;
	padding-bottom: 10px;
	border: solid #F2F2F2 3px;
}

#buttonMobile
{
	display: none;
}

/* ---------------------
	# firstSection
	-----------------------*/

#filters
{
	display: flex;
	flex-wrap: wrap;
}

#filters i
{
	background-color: #DEEBFF;
	border: solid #DEEBFF 12px;
	border-radius: 40px;
	color: #0065FC;
	margin-right: 8px;
}

#filters p
{
	border: solid #F2F2F2;
    border-radius: 30px;
    transition: all 0.5s;
    margin-right: 50px;
    font-weight: bold;
    padding-right: 5px;
}

#filters p:hover
{
	background-color: #DEEBFF;
}

/* ---------------------
		  main 
-----------------------*/
main h2
{
	margin-left: 40px;
}
figure img
{
	height: 130px;
	width: 250px;
	border-radius: 20px 20px 0px 0px;
	object-fit: cover;
}

figure
{
	border: solid white;
	border-radius: 20px;
    box-shadow: 0px 0px 10px grey;
    transition: all 0.5s;
}

figure:hover
{
	opacity: 0.5;
}

article a
{
	text-decoration: none;
	color: black;
}

#firstSection 
{
	margin: 20px;
}

#secondSection figcaption, #activity figcaption
{
	padding-left: 10px;
	padding-top: 10px;
}

#secondSection
{
	background-color:#f2f2f2;
	border-radius: 30px;
}

#accommodationTitle, #fourthSection h2
{
	display: none;
}

#accommodation
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 100%;
}

#accommodation i
{
	color: #0065fc;
}

#firstMarseilleAccommodation, #secondMarseilleAccommodation
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

#fourthSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#thirdSection
{
	background-color:#f2f2f2;
	border-radius: 30px;
	display: flex;
    flex-direction: column;
    margin: 5px 5px 5px 5px;
}

#chartLine 
{
	color: black!important;
	float: right;
}

#mostPopular figure
{
	margin-bottom: 40px;
	height: 100px;
}

#mostPopular figure img 
{
	border-radius: 20px 0px 0px 20px!important;
	width: 110px;
	height: 100px;
	float: left;
}

.star
{
	padding-top: 10px;
}

.largePicture
{
	height: 300px;
}

/* ---------------------
		footer
-----------------------*/

footer
{
	background-color: #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1400px;
}

footer ul 
{
	list-style: none;
}

footer li 
{
	margin-top: 10px;
}
