@media all and (max-width: 1399px)
{
	 #secondSection 
	{
    	width: max-content;
    	margin: auto;
	}

	#thirdSection
	{
		width: 100%;
	}
}
	
@media all and (max-width: 700px)
{

	

	/* ---------------------
			header
	-----------------------*/

	.desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }
    
    #headerMobile 
    {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin: 20px;
    }
    
    #menuMobile {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
    }
    
    .detailMenuMobile {
        flex-grow: 1;
        text-align: center;
        border-bottom: solid grey 2px;
        padding-top: 10px;
    }
    
    #navCurrentMobile {
        border-bottom: solid #0065FC 2px;
        padding-bottom: 20px;
    }

    #navCurrentMobileColor
    {
        color: #0065FC;
    }

	#button
	{
		display: none;
	}

	#buttonMobile
	{
		display: block;
		background-color: #0065FC;
	    color: white;
	    padding: 11px;
	    border-radius: 11px;
	    position: absolute;
	    left: 184px;
    	top: 0;
	}

	/* ---------------------
		main # firstSection
	-----------------------*/

	#filters
	{
		display: flex;
		flex-wrap: wrap;
	}

	#filters i
	{
		background-color: #DEEBFF;
		border: solid #DEEBFF 12px;
		border-radius: 40px;
		color: #0065FC;
	}

	#filters p
	{
		border: solid #F2F2F2;
	    border-radius: 50px;
	    transition: all 0.5s;
	    margin-right: 50px;
	}

	/* ---------------------
			  main 
	-----------------------*/

	figure img
	{
		height: 130px;
		width: 300px;
		border-radius: 20px 20px 0px 0px;
		object-fit: cover;
	}

	figure
	{
		border: solid white;
		border-radius: 20px;
	    box-shadow: 0px 0px 10px grey;
	    transition: all 0.5s;
	}

	article a
	{
		text-decoration: none;
		color: black;
	}

	#secondSection figcaption, #activity figcaption
	{
		padding-left: 10px;
		padding-top: 10px;
	}

	#secondSection
	{
		background-color: #fff;
	}

	#firstMarseilleAccommodation, #secondMarseilleAccommodation
	{
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	#accommodationTitle, #fourthSection h2
	{
		display: none;
	}

	#accommodation
	{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
		flex-wrap: wrap;
	}

	#accommodation i
	{
		color: #0065fc;
	}

	#fourthSection
	{
		display: flex;
		flex-direction: column;
		align-items: center;
		flex-wrap: wrap;
	}

	#thirdSection img
	{
		width: 110px;
		height: 100px;
		float: left;
	}

	#thirdSection
	{
		background-color:#f2f2f2;
		width: 100%;
		border-radius: 0;
	}

	#thirdSection figcaption
	{
		height: 100px;
	}

	#chartLine 
	{
		color: black!important;
		float: right;
	}

	#mostPopular figure img 
	{
		border-radius: 20px 0px 0px 20px!important;
		object-fit: cover;
	}

	.largePicture
	{
		height: 130px;
	}

	/* ---------------------
			footer
	-----------------------*/

	footer
	{
		background-color: #F2F2F2;
	    display: flex;
	    flex-direction: column;
	}

	footer ul 
	{
		list-style: none;
	}

	footer li 
	{
		margin-top: 10px;
	}
}