@media all and (max-width: 1399px){

	#mostPopular{
		display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: center;
    	border-radius: 0;
	}

	#secondSection{
		background-color: white;
	}

	#thirdSection,
	#secondSection{
		margin: auto;
	}

	#fourthSection{
		display: flex;
    	flex-direction: row;
    	flex-wrap: wrap;
    	justify-content: space-evenly;
	}
}

@media all and (max-width: 600px){

	body{
		min-width: 320px;
	}

	/* ---------------------
		header
	-----------------------*/

	.desktop {
        display: none;
    }
    
    .mobile {
        display: block;
    }

    #headerMobile {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin: 0px 15px 0px 15px;
    }

    #menuMobile {
        display: flex;
        flex-direction: row;
        list-style-type: none;
        padding: 0;
    }
    
    .detailMenuMobile {
        flex-grow: 1;
        text-align: center;
        border-bottom: solid grey 2px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    #navCurrentMobile {
        border-bottom: solid #0065FC 2px;
   	}

   	#navCurrentMobileColor{
        color: #0065FC;
    }

    /* ---------------------
		main first section
	-----------------------*/

    #button{
		display: none;
	}

	#buttonMobile{
		display: block;
		background-color: #0065FC;
	    color: white;
	    padding: 11px;
	    border-radius: 11px;
	    position: absolute;
	    left: 184px;
    	top: 0;
	}

	#filters{
		position: relative;
		display: flex;
    	flex-direction: column;
    	align-items: flex-start;
    	padding-left: 10px;
	}

	/* ---------------------
		main accomodation 
	-----------------------*/

	main h2 {
    	margin-left: 0px;
    	text-align: center;
	}

	#accommodation {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column-reverse;
	}

	#mostPopular{
		display: flex;
    	flex-direction: column;
    	flex-wrap: wrap;
	}

	 #secondSection,
	 #thirdSection{
    	margin: auto;
	}

	#secondSection{
		background-color: white;
	}

	 #thirdSection{
	 	border-radius: 0;
	 	width: 87%;
	 }

	 /* ---------------------
		main activity
	-----------------------*/

	#fourthSection{
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	/* ---------------------
		footer
	-----------------------*/

	footer{
		background-color: #F2F2F2;
	    display: flex;
	    flex-direction: column;
	}

	footer ul {
		list-style: none;
	}

	footer li {
		margin-top: 10px;
	}

}

@media all and (max-width: 370px){

	#mostPopular figcaption {
		display: block;
	}

	#mostPopular figure{
		height: 160px;
	}

	#mostPopular figure img{
		height: 160px;
	}
}
